/*

  RESPONSIVE STYLING
  (c) Audrey Ryan - 2017

  References: www.w3schools.com
    - Overlay menus (https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp)
    - Fixed menu (https://www.w3schools.com/howto/howto_css_fixed_menu.asp)
    - General reference for properties, values, etc

*/


/* 

  Standard/Smaller Phones
  0px - 480px

*/

@media all and (max-width: 480px) {

  main {
    width: auto;
      padding: 20px;
      margin-top: -100px;
  }

header {
    width: calc(100vw-50px);
    min-height: 100vh;
    padding: 160px 50px;
}

header h1 {
    letter-spacing: -4px;
    line-height: 76px;
    font-size: 80px;
    font-weight: 800;
    margin: 0px;
}

header p {
    letter-spacing: -1px;
    font-size: 28px;
    color: #e7446e;
}
  
  /* navigation */
  .navBar {
    display: none;
  }

  .anchor {
    height: 1px;
      margin: 0px;
  }
    
    .mobileNavContent a {
        display: block;
        width: 80%;
        font-size: 32px;
        color: #000;
        margin: auto;
        padding: 10px;
        text-align: center;
        font-family: 'Source Code Pro', courier new;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
    }

    /* porfolio */
    .projectPreview img {
        display: block;
        max-width: 90%;
        padding: 25px;
    }
    
    .projectPreview h3 {
        margin-top: 25px;
        font-size: 36px;
    }
    
    .projectSkills {
        width: auto;
    }
    
    .projectPreview a {
        width: 25%;
        font-size: 16px;
    }
    
    .projectPreview {
        font-size: 14px;
        line-height: 16px;
    }
    
  /* about */
  #about, .aboutContent {
    width: auto;
  }
  
  .desc, .skills {
      display: block;
      width: 100%;
      margin-top: -75x;
      margin-bottom: 75px;
      padding: 30px;
      border: 0px;
  }
    
    /* contact */
    #contact {
        padding-bottom: 30x;
        margin-bottom: 90px;
    }
    
    /* button */
    
    /*
    #continueButton {
        min-width: 85%;
        position: relative;
        left: 0px;
    }
    */
  
}



/* 

  Bigger phones, small tablets
  481px - 690px

*/

@media all and (min-width: 481px) and (max-width: 690px) {  

  main {
    width: auto;
      padding: 50px;
      margin-top: -100px;
  }

header {
    width: calc(100vw-50px);
    min-height: 100vh;
    padding: 150px 50px;
}

header h1 {
    letter-spacing: -8px;
    line-height: 76px;
    font-size: 80px;
    font-weight: 800;
    margin: 0px;
}

header p {
    letter-spacing: -2px;
    font-size: 48px;
    color: #e7446e;
}
  
  /* navigation */
  .navBar {
    display: none;
  }

  .anchor {
    height: 1px;
      margin: 0px;
  }
    
    .mobileNavContent a {
        display: block;
        width: 80%;
        font-size: 32px;
        color: #000;
        margin: auto;
        padding: 10px;
        text-align: center;
        font-family: 'Source Code Pro', courier new;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
    }

    /* porfolio */
    .projectPreview img {
        display: block;
        max-width: 90%;
        padding: 25px;
    }
    
    .projectPreview h3 {
        margin-top: 25px;
        font-size: 36px;
    }
    
    .projectSkills {
        width: auto;
    }
    
    .projectPreview a {
        width: 30%;
        font-size: 16px;
    }
    
    .projectPreview {
        font-size: 14px;
        line-height: 16px;
    }
    
  /* about */
  #about, .aboutContent {
    width: auto;
  }
  
  .desc, .skills {
      display: block;
      width: 100%;
      margin-top: -75x;
      margin-bottom: 75px;
      padding: 30px;
      border: 0px;
  }
    
    /* contact */
    #contact {
        padding-bottom: 30x;
        margin-bottom: 90px;
    }
    
    /* button */
    
    /*
    #continueButton {
        min-width: 85%;
    }
    */
  
    /* final - documentPreview */
    .documentPreview img {
        float: none;
        max-width: 80%;
        display: block;
        margin: auto;
        padding: 5px;
    }
}



/* 

  Standard/big Tablets, small desktops
  691px - 1200px

*/

@media all and (min-width: 691px) and (max-width: 1200px) { 

    
  main {
    width: auto;
  }

header {
    width: calc(100vw-200px);
    min-height: 100vh;
}

header h1 {
    letter-spacing: -8px;
    line-height: 120px;
    font-size: 100px;
    font-weight: 800;
    margin: 0px;
}

header p {
    letter-spacing: -1px;
    font-size: 28px;
    color: #e7446e;
}
  
  /* navigation */
  .navBar {
    display: none;
  }

  .anchor {
    height: 1px;
      margin: 0px;
  }
    
    .mobileNavContent a {
        display: block;
        width: 80%;
        font-size: 32px;
        color: #000;
        margin: auto;
        padding: 10px;
        text-align: center;
        font-family: 'Source Code Pro', courier new;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
    }

    /* porfolio */
    .projectPreview img {
        display: block;
        max-width: 90%;
        padding: 15px;
    }
    
    .projectPreview h3 {
        margin-top: 50px;
    }
    
    .projectSkills {
        width: auto;
    }
    
    .projectPreview a {
        width: 20%;
    }
    
  /* about */
  #about, .aboutContent {
    width: auto;
  }
  
  .desc, .skills {
      display: block;
      width: 100%;
      margin-top: -75x;
      margin-bottom: 75px;
      padding: 30px;
      border: 0px;
  }
    
    /* contact */
    #contact {
        padding-bottom: 30x;
        margin-bottom: 90px;
    }
    
    /* button */
    
    /*
    #continueButton {
        min-width: 50%;
    }
    */

}



/* 

  Desktop
  1201px - a lot more

*/

@media all and (min-width: 1201px) {  
  
  body a {
      color: #000;
  }
  

  main {
/*    width: 100%; */
    padding-bottom: 50px;
  }
  
  /* navigation */
  .openButton, #navMenu {
    display: none;
  }
}
*/