/*

  RESPONSIVE STYLING
  (c) Audrey Ryan - 2017

  References: www.w3schools.com
    - Overlay menus (https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp)
    - Fixed menu (https://www.w3schools.com/howto/howto_css_fixed_menu.asp)
    - General reference for properties, values, etc

*/


/* 

  Standard/Smaller Phones
  0px - 480px

*/

@media all and (max-width: 480px) {
  
  main {
    width: auto;
  }
  
  header {
    margin-top: 100px;
    font-size: 65px;
    margin-bottom: 100px;
  }
  
  /* navigation */
  .navBar {
    display: none;
  }

  .anchor {
    display: none;
  }
  
  .openButton {
    z-index: 1;
  }
  
  .display, .pageDisplay {
    overflow: auto;
  }

  /* intro */
  .intro {
    margin-top: 50px;
    margin-bottom: 50px;

  }

  /* skills */
  .skillsContent {
    width: auto;
    display: block;
  }

  .skillCardWhite, .skillCardPink {
    margin: 10px;
    width: auto;
  }
  
  /* Portfolio - UX */
  .UXContent {
    width: auto;
    display: block;
  }

  .UXCard, .picPreview {
    width: auto;
  }
  
  .UXCardDesc {
    width: 100%;
  }
  
  /* Portfolio - Gallery */
  .galleryPreviews {
    width: auto;
    display: block;
  }

  /* about */
  .aboutContent {
    width: auto;
    margin-top: 0px;
    display: block;
  }

  .portrait {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width: 65%;
  }
  
  .aboutDesc {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
 
}



/* 

  Bigger phones, small tablets
  481px - 690px

*/

@media all and (min-width: 481px) and (max-width: 690px) {  

  main {
    width: auto;
  }
  
  header {
    margin-top: 100px;
    font-size: 80px;
    margin-bottom: 100px;
  }
  
  /* navigation */
  .navBar {
    display: none;
  }
  
  .display, .pageDisplay {
    overflow-y: scroll;
  }
  
  /* intro */
  .intro {
    margin-top: 40px;
    margin-bottom: 5px;
  }
  
  /* skills */
  .skillsContent {
    display: block;
    width: auto;
  }

  .skillCardWhite, .skillCardPink {
    width: auto;
    margin: 10px;
  }
  
  /* Portfolio - UX */
  .UXContent {
    width: auto;
    margin-bottom: -50px;
    display: block;
  }

  .UXCard {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .pageContent img {
    width: 40%;
  }
  
  /* Portfolio - Gallery */
  .gallery {
    margin-top: 100px;
  }

  .galleryPreviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    width: auto;
  }
  
  .picPreview {
    width: 40%;
    margin: 15px;
  }
  
  /* about */
  .aboutContent {
    width: 90%;
    display: inline-block;
    margin-left: 5%;
    margin-top: -30px;
    padding-top: -15px;
  }
  
  .portrait {
    width: 40%;
    float: left;
    padding: 0px 10px 0px 10px;
  }
  
  .aboutDesc {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
}



/* 

  Standard/big Tablets, small desktops
  691px - 1200px

*/

@media all and (min-width: 691px) and (max-width: 1200px) { 

  main {
    width: auto;
  }

  header {
    margin-top: 150px;
    font-size: 90px;
    margin-bottom: 150px;
  }
  
  /* navigation */
  .navBar {
    display: none;
  }

  .anchor {
    display: none;
  }
  
  .display, .pageDisplay {
    overflow-y: scroll;
  }
  
  /* intro */
  .intro {
    margin-top: 40px;
    margin-bottom: 5px;
  }
  
  /* skills */
  .skillsContent {
    width: auto;
  }

  .skillCardWhite, .skillCardPink {
    margin: 10px;
    width: 40%;
  }
  
  /* Portfolio - UX */
  .UXContent {
    display: block;
    width: 90%;
  }
  
  .UXCard {
    width: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .UXCard img {
    max-height: 25%;
    max-width: 25%;
    margin-bottom: 10px;
  }
  
  .UXCardDesc {
    width: 65%;
    color: #333;
    background: transparent;
    font-size: 16px;
    padding: 0px 0px 0px 30px;
    margin-top: -25px;
  }
  
  .seeMoreButton, .seeMoreButton a {
    text-align: right;
    color: #ff6b72;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
  }

  .seeMoreButton a:hover {
    color: #261825;
  }
  
  /* Portfolio - Gallery */
  .gallery {
    margin-top: 80px;
  }

  .galleryPreviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    width: auto;
  }
  
  .picPreview {
    width: 21%;
    margin: 15px;
  }
  
  /* about */
  .aboutContent {
    width: 90%;
    display: inline-block;
    margin-left: 5%;
    margin-top: -30px;
    padding-top: -15px;
  }
  
  .portrait {
    width: 28%;
    float: left;
    padding: 0px 10px 0px 15px;
  }
  
  .aboutDesc {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}



/* 

  Desktop
  1201px - a lot more

*/

@media all and (min-width: 1201px) {  
  
  body {
  }
  
  main {
/*    width: 100%; */
    padding-bottom: 200px;
  }
  
  /* navigation */
  .openButton, #navMenu {
    display: none;
  }

  /* intro */
  .intro {
    margin-top: 40px;
    padding-bottom: 15px;
  }

  /* skills */
  .skillsContent {
    width: auto;
  }

  .skillCardWhite, .skillCardPink {
    margin: 15px;
    width: 25%;
  }
  
  /* portfolio - UX content */
  .UXContent {
    width: auto;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .UXCard {
    max-height: 210px;
    width: 200px;
    margin: 15px;
  }
  
  .UXCardDesc {
    height: 190px;
    width: 100%;
    position: relative;
    top: -219px;
    left: -15px;
    padding: 20px 15px;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  
  .UXCardDesc h3 {
    font-size: 22px;
    padding-bottom: 5px;
  }
  
  .UXCardDesc:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }

  .pageContent, .pageContent img {
    width: 70%;
  }

  /* Portfolio - Gallery */
  .galleryPreviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    width: 790px;
      margin-left: auto;
      margin-right: auto;
  }
  
  .picPreview {
    width: 24%;
    margin: 10px;
  }

  .picPreview img {
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    -ms-opacity: 0.7;
    -o-opacity: 0.7;
    opacity: 0.7;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  .picPreview img:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
  
  /*
  /* About */
  .aboutContent {
    width: 90%;
    display: inline-block;
    margin-left: 5%;
    margin-top: -30px;
    padding-top: -15px;
  }
  
  .portrait {
    width: 33%;
    float: left;
    padding: 0px 10px 0px 15px;
  }
  
  .aboutDesc {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
*/