/* GENERAL STYLING */

body {
  background: #a2e5e4;
  color: #fff;
  font-family: 'Karla', helvetica, sans-serif;
  font-size: 14px;
  margin: 0px;
}

main {
  padding: 10px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

header {
  color: #fff;
  font-size: 120px;
  font-family: 'Abel', helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: -2px;
  text-align: center;
  cursor: default;
}

section {
  height: auto;
  margin-top: 50px;
}

h1 {
  font-family: 'Abel', helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  border-left: 12px #ff6b72 solid;
  padding-left: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #74d0d3;
}

h1:hover {
  border-left: 28px #ff6b72 solid;
  cursor: default;
}

ul {
  list-style-position: inside;
}

footer {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
  padding: 3px;
  margin-top: 60px;
  background: #ff6b72;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #333;
}

/* bar used for desktop displays */
.navBar {
  position: fixed;
  top: -50px;
  width: 100%;
  height: 15px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  display: block;
  background: #333;
  text-align: center;
}

.navBar a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webskit-transition: 0.5s;
  transition: 0.5s;
}

.navBar a:hover, .navBar a:active {
  color: #ff6b72;
}

/* menu used for smaller screens */

  /* full screen menu */
.display {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: -50px;
  left: 0px;
  background: #74d0d3;
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.displayLinks {
  position: relative;
  top: 15%;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  height: auto;
}

.displayLinks a {
  display: block;
  padding: 5px;
  font-family: 'Abel', helvetica, sans-serif;
  font-size: 36px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.displayLinks a:hover, .displayLinks a:active {
  color: #ff6b72;
}

  /* open button */
.openButton {
  padding: 3px;
  float: right;
  position: fixed;
  top: 10px;
  right: 10px;
  display: block;
}

.bar1, .bar2, .bar3 {
  background: #333;
  width: 30px;
  height: 3px;
  margin: 6px 0px;
}

  /* close button */
.closeButton {
  height: 30px;
  width: 30px;
  background: #fff;
  position: absolute;
  top: 30px;
  right: 30px;
  color: #ff6b72;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding-bottom: 1px;
}

/* intro blurb */
.intro {
  display: block;
  padding: 5px;
  width: 35%;
  background: #ff6b72;
  color: #a2e5e4;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 30px;
  cursor: default;
}

/* SECTION: skills */
.skillsContent {
  width: 750px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.skillCardWhite h2, .skillCardPink h2 {
  margin-top: 20px;
  font-size: 30px;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.skillCardWhite {
  margin: 5px;
  padding: 15px;
  width: 275px;
  font-size: 14px;
  line-height: 20px;  
  text-align: center;
  background: #fff;
  color: #ff6b72;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.skillCardPink {
  margin: 5px;
  padding: 15px;
  width: 275px;
  font-size: 14px;
  line-height: 20px;  
  text-align: center;
  background: #ff6b72;
  color: #fff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.skillCardPink:hover, .skillCardWhite:hover {
  color: #333;
  cursor: default;
}


/* SECTION: portfolio */
#portfolio h2 {
  color: #ff6b72;
  font-family: 'Abel', helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.UXContent, .galleryContent {
  display: flex;
  width: 750px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.UXCard {
  width: 275px;
  padding: 15px 15px 5px 15px;
  margin: 20px;
  background: #fff;
  color: #333;
}

.UXCard img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

 .UXCardDesc {
   background: #ff6b72;
   color: #fff;
   display: inline-block;
   padding: 5px 15px 15px 15px;
   width: 320px;
   position: relative;
   bottom: -10px;
   left: -15px;
}

.UXCardDesc h3 {
  font-family: 'Abel', helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: -2px;
}

.seeMoreButton, .seeMoreButton a {
  text-align: right;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.closePage {
  padding: 8px;
  position: absolute;
  top: 30px;
  right: 30px;
  color: #ff6b72;
  background: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.seeFullDocButton, .seeFullDocButton a {
  margin: 10px;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  color: #ff6b72;
}

/* MR, ASH, LK pages */
.pageDisplay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: #fff;
  color: #333;
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  transition: 0.5s; 
}

.pageContent {
  position: relative;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 10px;
  width: 80%;
  height: auto;
}

.pageContent img {
  border: 5px solid #eee;
  max-height: 20%;
  max-width: 20%;
  float: left;
  margin: 0px 15px 10px 0px;
}

/* gallery */
.galleryPreviews {
  margin-top: -10px;
}
.picPreview {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 10px 10px 5px 10px;
  margin: 15px;
}

.picPreview img {
  max-width: 100%;
  max-height: 100%;
}

/* full gallery */
.galleryDisplay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: #fff;
  color: #333;
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  transition: 0.5s; 
}

.galleryContent {
  position: relative;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding-bottom: 10px;
  width: 80%;
  height: auto;
}

.galleryContent img {
  border: 8px solid #eee;
  margin: 10px;
  max-width: 100%;
  max-height: 100%;
}


/* Section: about */
#about {
}

.aboutContent {
  width: 750px;
}

.aboutContent b {
  color: #ff6b72;
}

.portrait {
  background: #74d0d3;
  padding: 15px;
}

.portrait img {
  max-height: 100%;
  max-width: 100%;
}

.aboutDesc {
  margin: 10px;
  padding: 2px 15px 2px 15px;
  background: #74d0d3;
}


/* SECTION: Contact */
#contact {
  text-align: center;
  width: auto;
  color: #333;
}

#contact h1 {
  text-align: left;
  color: #fff;
}

#contact a {
  font-family: 'Abel', helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
  color: #ff6b72;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#contact a:hover, a:active {
  color: #333;
}


/**


















**/

/* RESPONSIVE: smaller phones */
@media all and (max-width: 480px) {
  main {
    width: auto;
  }
  
  header {
    margin-top: 50px;
    font-size: 65px;
  }
  
  .navBar {
    display: none;
  }
  
  .openButton {
    z-index: 1;
  }
  
  .display, .pageDisplay {
    overflow: auto;
  }
  
  .skillsContent, .UXContent, .galleryPreviews, .aboutContent {
    display: block;
    width: auto;
  }
  
  .skillCardWhite, .skillCardPink {
    width: auto;
    margin: 10px;
  }
  
  .UXCard, .picPreview {
    width: auto;
  }
  
  .UXCardDesc {
    width: 100%;
  }
  
  .galleryContent img {
    width: 100%;
    height: 50%;
  }

  .portrait {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }
  
  .aboutDesc {
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
 
}

/* RESPONSIVE: big phones, small tablets */

@media all and (min-width: 480px) and (max-width: 690px) {  

  main {
    width: auto;
  }
  
  header {
    margin-top: 50px;
    font-size: 80px;
  }
  
  .navBar {
    display: none;
  }
  
  .display, .pageDisplay {
    overflow-y: scroll;
  }
  
  .intro {
    margin-top: 40px;
    margin-bottom: 5px;
  }
  
  .skillsContent, .UXContent {
    display: block;
    width: auto;
  }
  
  .skillCardWhite, .skillCardPink {
    width: auto;
    margin: 10px;
  }
  
  .UXCard {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .pageContent img {
    width: 40%;
  }
  
  .galleryPreviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    width: auto;
  }
  
  .picPreview {
    width: 40%;
    margin: 5px;
  }
  
  .galleryContent img {
    width: 100%;
    height: 50%;
  }
  
.aboutContent {
    width: 90%;
    display: inline-block;
    margin-left: 5%;
    margin-top: -30px;
    padding-top: -15px;
  }
  
  .portrait {
    width: 40%;
    float: left;
    padding: 0px 10px 0px 10px;
  }
  
  .aboutDesc {
    width: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
}

/* RESPONSIVE: tablets, small laptops */

@media all and (min-width: 691px) and (max-width: 1200px) {  
  header {
    margin-top: 50px;
    font-size: 90px;
  }
  
  .navBar {
     display: none;
  }
  
  main {
    width: auto;
  }
  
  .display, .pageDisplay {
    overflow-y: scroll;
  }
  
  .intro {
    margin-top: 40px;
    margin-bottom: 5px;
  }
  
  .skillsContent, .UXContent, .galleryPreviews {
    width: auto;
  }
  
  .skillCardWhite, .skillCardPink {
    margin: 10px;
    width: 40%;
  }
  
  .UXContent {
    display: block;
    width: 90%;
  }
  
  .UXCard {
    width: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .UXCard img {
    max-height: 25%;
    max-width: 25%;
    margin-bottom: 10px;
  }
  
  .UXCardDesc {
    width: 65%;
    color: #ff6b72;
    background: transparent;
    font-size: 16px;
    background: #fff;
    padding: 0px 0px 0px 30px;
    margin-top: -25px;
  }
  
  .seeMoreButton, .seeMoreButton a {
    text-align: right;
    color: #ff6b72;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
  }
  
  .galleryPreviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    width: auto;
  }
  
  .picPreview {
    width: 25%;
    margin: 5px;
  }
  
  .galleryContent img {
    width: 100%;
    height: 50%;
  }
  
  .aboutContent {
    width: 90%;
    display: inline-block;
    margin-left: 5%;
    margin-top: -30px;
    padding-top: -15px;
  }
  
  .portrait {
    width: 28%;
    float: left;
    padding: 0px 10px 0px 15px;
  }
  
  .aboutDesc {
    width: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* RESPONSIVE: desktop */

@media all and (min-width: 1201px) {  
  
  body {
    background: #fff;
  }
  
  main {
    background: #a2e5e4;
    padding-bottom: 50px;
  }
  
  header {
     padding-top: 100px;
     padding-bottom: 50px;
     margin-left: auto;
     margin-right: auto;
     width: 820px;
     background: #a2e5e4;
  }

  footer {
    margin-top: 0px;
  }
  
  .openButton, #navMenu {
     display: none;
  }
  
  /* Identical flex containers */
  .skillsContent, .UXContent, .galleryPreviews {
    width: auto;
  }
  
  .skillCardWhite, .skillCardPink {
    margin: 15px;
    width: 25%;
  }
  
  .UXContent {
    width: auto;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .UXCard {
    max-height: 210px;
    width: 200px;
    margin: 15px;
  }
  
  .UXCardDesc {
    height: 190px;
    width: 100%;
    position: relative;
    top: -219px;
    left: -15px;
    padding: 20px 15px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  
  .UXCardDesc h3 {
    font-size: 22px;
    padding-bottom: 5px;
  }
  
  .UXCardDesc:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }

  .pageContent, .pageContent img {
    width: 70%;
  }
  
  .galleryPreviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    width: auto;
  }
  
  .picPreview {
    width: 28%;
    margin: 10px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    -ms-opacity: 0.7;
    -o-opacity: 0.7;
    opacity: 0.7;
    transition: 0.5s;
  }
  
  .picPreview:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
  
  .galleryContent img {
    width: 100%;
    height: 50%;
  }
  
  .aboutContent {
    width: 90%;
    display: inline-block;
    margin-left: 5%;
    margin-top: -30px;
    padding-top: -15px;
  }
  
  .portrait {
    width: 33%;
    float: left;
    padding: 0px 10px 0px 15px;
  }
  
  .aboutDesc {
    width: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}