/*

  GENERAL STYLING
  (c) Audrey Ryan - 2017

  References: www.w3schools.com
    - Overlay menus (https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp)
    - Fixed menus (https://www.w3schools.com/howto/howto_css_fixed_menu.asp)
    - General reference for properties, values, etc

*/


body {
  margin: 0px;
  background: #fefefe;
  color: #000;
  font-family: 'Karla', helvetica, sans-serif;
  font-size: 14px;
}

a, a:visited {
  color: #fff;
  text-decoration: none;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active {
  color: #F391A0;
}

main {
    position: relative;
    top: -150px;
    width: calc(100vw-200px);
    padding: 10px 100px 10px 100px;
    margin-left: auto;
    margin-right: auto;
    background: #fefefe;
    margin-bottom: -150px;
}

header {
    background: #fefefe;
    color: #000;
    font-family: 'Khula', arial;
    font-weight: 800;
    text-align: left;
    text-transform: lowercase;
    line-height: 50px;
    padding: 175px 100px 0px 100px;
    width: calc(100vw-200px);
    min-height: 100vh;
}

header h1 {
    letter-spacing: -8px;
    line-height: 120px;
    font-size: 140px;
    font-weight: 800;
    margin: 0px;
}

header p {
    letter-spacing: -2px;
    font-size: 52px;
    color: #e7446e;
}

#continueButton {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 90%;
    float: left;
    margin: 10px;
    padding: 0px;
    text-align: center;
}

#continueButton:hover, #continueButton a:hover{
    cursor: pointer;
}

#continueButton img {
    max-height: 16px;
    max-width: 64px;
}

section {
    height: auto;
}

h1 {
    color: #000;
    font-family: 'Khula', arial;
    font-weight: 800;
    letter-spacing: -3px;
    font-size: 80px;
    text-align: left;
    text-transform: lowercase;
}

ul {
  list-style-position: inside;
}

footer {
  padding-top: 2px;
  padding-bottom: 3px;
  background: #fefefe;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  color: #000;
  font-weight: bold;
}

footer a {
    color: #000;
}


/* 

NAVIGATION 

*/

/* bigger displays use bar */
.navBar {
    position: fixed;
    top: 0px;
    display: block;
    height: auto;
    width: 100%;
    z-index: 1;
    background: #fefefe;
    text-align: center;
}

.navBarLinks {
    float: right;
}

.navBarLinks a {
    font-family: 'Abel';
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    color: #000;
    padding: 10px 20px 10px 20px;
    margin: 5px;
}

.navBarLinks a:hover, .navBarLinks a:active {
  color: #e7446e;
}

/* link to anchor sections on desktops to offset fixed header covering section
   solution: https://pixelflips.com/blog/anchor-links-with-a-fixed-header (no author listed)
*/

.anchor {
  height: 1px;
  margin-top: 0px;
    margin-bottom: -30px;
}


/* full screen menu toggled by button used for smaller screens */

/* full screen menu background/overlay */
.display {
  position: fixed;
  top: -150px;
  left: 0px;
  height: 0%;
  width: 100%;
  z-index: 1;
  background: #fefefe;
  overflow-y: scroll;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}


/* content displayed on the menu */
.displayLinks {
  position: relative;
  top: 25%;
  margin-top: 30px;
  width: 100%;
  height: auto;
  text-align: center;
}

.displayLinks a, .displayLinks a:visited {
  display: block;
  padding: 5px;
  font-family: 'Abel', helvetica, sans-serif;
  font-size: 36px;
  text-decoration: none;
  font-weight: bold;
  color: #261825;
}

.displayLinks a:hover, .displayLinks a:active {
  color: #ff6b72;
}

/* open button class */
.openButton {
  padding: 3px;
  float: right;
  position: fixed;
  top: 10px;
  right: 10px;
  display: block;
}

/* actual button itself is made of three bars */
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  margin: 6px 0px;
  background: #F391A0;
}

/* close button */
.closeButton {
  position: absolute;
  top: 30px;
  right: 30px;
  padding-bottom: 1px;
  height: 30px;
  width: 30px;
  background: transparent;
  color: #EA3788;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}


/* 

  SECTION - portfolio 

*/

#portfolio h2 {
  padding-top: 20px;
  color: #EA3788;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* UX and gallery sections use same container */
.UXContent, .galleryContent {
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 750px;

  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

/* UX portfolio section */

/* each preview UX card contains an img and description article */
.UXCard {
  padding: 15px 15px 5px 15px;
  margin: 40px;
  width: 275px;
  background: #fefefe;
  color: #333;
}

.UXCard img {
  max-height: 100%;
  max-width: 100%;
}

.UXCardDesc {
  position: relative;
  bottom: -10px;
  left: -15px;
  padding: 5px 15px 15px 15px;
  width: 320px;
  display: inline-block;
  background: #E56B70;
  color: #fefefe;
}

.UXCardDesc h3 {
  margin: 5px;
  font-family: 'Abel', helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  color: #261825;
}

/* see more button/link */
.seeMoreButton, .seeMoreButton a {
  text-align: right;
  font-weight: bold;
  color: #261825;
}

.seeMoreButton a:hover {
  color: #fff;
}

/* close page button - for UX cards */
.closePage {
  padding: 8px;
  position: absolute;
  top: 30px;
  right: 30px;
  color: #ff6b72;
  background: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

/* see full documentation button/link */
.seeFullDocButton, .seeFullDocButton a {
  margin: 10px;
  font-weight: bold;
  color: #ff6b72;
}

/* MR, ASH, LK pages - "see more" links lead to these pages */
/* page background / display */
.pageDisplay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 0%;
  width: 100%;
  z-index: 1;
  background: #fff;
  color: #333;
  overflow-y: scroll;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* page content goes on top of display */
.pageContent {
  position: relative;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 10px;
  width: 80%;
  height: auto;
}

.pageContent img {
  border: 5px solid #eee;
  max-height: 20%;
  max-width: 20%;
  float: left;
  margin: 0px 15px 10px 0px;
}

/* gallery portfolio section */
/* gallery previews is the main section displayed on portfolio */
.gallery {
  margin-top: 50px;
}

.galleryPreviews {
  margin-top: 20px;
}

.picPreview {
  padding: 10px 10px 5px 10px;
  margin: 20px;
  width: 300px;
  background: white;
}

.picPreview img {
  max-width: 100%;
  max-height: 100%;
}

.picDisplay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 0%;
  width: 100%;
  z-index: 1;
  background: #fff;
  color: #333;
  overflow-y: scroll;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* page content goes on top of display */
.picContent {
  position: relative;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 30px;
  width: 75%;
  height: auto;
  text-align: right;
}

.picContent img {
  max-height: 100%;
  max-width: 100%;
}


/* 

  Section - about 

*/

#about {
    height: auto;
}

#aboutContent {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.desc {
    font-size: 16px;
    margin-top: -75px;
    width: 40%;
    border-right: 2px solid #000;
    padding: 45px 45px 45px 0px;
}

.desc b {
    color: #e7446e;
}

.desc img {
    border-radius: 50%;
    max-height: 35%;
    max-width: 35%;
}

.skills {
    margin-top: -105px;
    width: 40%;
    padding: 45px 0px 45px 45px;
    text-align: center;
}

.skills h1 {
    text-align: center;
    font-family: 'Abel';
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.skills ul {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Source Code Pro', courier new;
    letter-spacing: 1px;
    margin: 10px;
    text-transform: uppercase;
    transition: 0.3s;
}

.skills ul:hover {
    background: #000;
    color: #fff;
}

/* 

SECTION: Contact 

*/

#contact {
  text-align: center;
  width: auto;
}

#contact a {
  font-family: 'Source Code Pro', courier new;
  font-size: 16px;
  text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #000;
    border-radius: 3px;
    background: #000;
  color: #fff;
    display: inline-block;
    padding: 15px 20px 15px 20px;
    margin: 5px;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#contact a:hover, #contact a:active {
  color: #000;
    background: #fff;
}