/*

  GENERAL STYLING
  (c) Audrey Ryan - 2017

  References: www.w3schools.com
    - Overlay menus (https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp)
    - Fixed menus (https://www.w3schools.com/howto/howto_css_fixed_menu.asp)
    - General reference for properties, values, etc

*/


body {
  margin: 0px;
    height: 100%;
  background: #fefefe;
  color: #000;
  font-family: 'Karla', helvetica, sans-serif;
  font-size: 14px;
}

a, a:visited {
  color: #fff;
  text-decoration: none;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active {
  color: #F391A0;
}

main {
    position: relative;
    top: -150px;
    width: calc(100vw-200px);
    padding: 10px 100px 0px 100px;
    margin-left: auto;
    margin-right: auto;
    background: #fefefe;
    margin-bottom: -150px;
}

header {
    background: #fefefe;
    color: #000;
    font-family: 'Khula', arial;
    font-weight: 800;
    text-align: left;
    text-transform: lowercase;
    line-height: 50px;
    padding: 175px 100px 0px 100px;
    width: calc(100vw-200px);
    min-height: 100vh;
}

header h1 {
    letter-spacing: -8px;
    line-height: 120px;
    font-size: 140px;
    font-weight: 800;
    margin: 0px;
}

header p {
    letter-spacing: -2px;
    font-size: 52px;
    color: #e7446e;
}

#continueButton {
    position: absolute;
    bottom: 10px;
    display: block;
    min-width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#continueButton:hover, #continueButton a:hover{
    cursor: pointer;
}

#continueButton img {
    max-height: 16px;
    max-width: 64px;
}

section {
    height: auto;
}

h1 {
    color: #000;
    font-family: 'Khula', arial;
    font-weight: 800;
    letter-spacing: -3px;
    font-size: 80px;
    text-align: left;
    text-transform: lowercase;
}

h2 {
    font-family: 'Source Code Pro', courier new;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}

h3 {
    color: #e7446e;
    font-family: 'Khula', arial;
    font-weight: 800;
    letter-spacing: -2px;
    font-size: 42px;
    text-align: left;
    text-transform: lowercase;
}

ul {
  list-style-position: inside;
}

footer {
    padding-top: 2px;
    padding-bottom: 3px;
    background: #fefefe;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    color: #000;
    font-weight: bold;
}

footer a, footer a:visited {
    color: #000;
}

footer a:hover {
    color: #e7446e;
}


/* 

NAVIGATION 

*/

/* bigger displays use bar */
.navBar {
    position: fixed;
    top: 0px;
    display: block;
    height: auto;
    width: 100%;
    z-index: 1;
    background: #fefefe;
    text-align: center;
}

.navBarLinks {
    float: right;
}

.navBarLinks a {
    font-family: 'Abel';
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    color: #000;
    padding: 10px 20px 10px 20px;
    margin: 5px;
}

.navBarLinks a:hover, .navBarLinks a:active {
  color: #e7446e;
}

/* link to anchor sections on desktops to offset fixed header covering section
   solution: https://pixelflips.com/blog/anchor-links-with-a-fixed-header (no author listed)
*/

.anchor {
  height: 50px;
  margin-bottom: -30px;
}


/* full screen menu toggled by button used for smaller screens */

/* full screen menu background/overlay */
/* project pages */

.mobileNav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 0%;
  width: 100%;
  z-index: 1;
  background: #fff;
  color: #333;
  overflow-y: auto;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* page content goes on top of display */
.mobileNavContent {
  position: relative;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 10px;
  width: 80%;
  height: auto;
}

/* open button class */
.openButton {
  padding: 3px;
  position: fixed;
  top: 10px;
  right: 10px;
  display: block;
    z-index: 1;
}

/* actual button itself is made of three bars */
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  margin: 6px 0px;
  background: #e7446e;
}

/* close button */
.closeButton {
  position: absolute;
  top: 50px;
  right: 50px;
  padding-bottom: 1px;
  height: 30px;
  width: 30px;
  background: transparent;
  color: #EA3788;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}



/* 

  Section - about 

*/

#about {
    height: auto;
}

#aboutAnchor {
    height: 1px;
}

#aboutContent {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.desc {
    font-size: 16px;
    margin-top: -75px;
    width: 40%;
    border-right: 2px solid #000;
    padding: 45px 45px 45px 0px;
}

.desc b {
    color: #e7446e;
}

.desc img {
    border-radius: 50%;
    max-height: 40%;
    max-width: 40%;
}

.skills {
    margin-top: -100px;
    width: 40%;
    padding: 45px 0px 45px 45px;
    text-align: center;
    cursor: default;
}

.skills h1 {
    text-align: center;
    font-family: 'Abel';
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.skills ul {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Source Code Pro', courier new;
    letter-spacing: 1px;
    margin: 10px;
    text-transform: uppercase;
    transition: 0.3s;
}

.skills ul:hover {
    background: #000;
    color: #fff;
}





/*

    SECTION - PORTFOLIO

*/

#portfolio h1 {
    margin-bottom: 0px;
}

.projectPreview {
    margin-top: 0px;
    width: auto;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 40px;
    transition: 0.6s;
    border-bottom: 2px solid #000;
    text-align: right;
    font-size: 18px;
    line-height: 26px;
}

.projectPreview h3 {
    font-size: 56px;
    text-align: center;
    line-height: 58px;
    margin-top: 100px;
    margin-bottom: 5px;
    color: #000;
}

.projectPreview img {
    display: inline;
    float: right;
    padding-left: 30px;
    max-width: 50%;
}

.projectPreview a {
    display: inline-block;
    color: #fff;
    background: #e7446e;
    padding: 10px 10px 5px 10px;
    width: 12%;
    height: 10%;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Khula';
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
}

.projectPreview a:hover {
    background: #EF5E83;
}


/* project skills */

.projectSkills {
    width: 50%;
    text-align: left;
    cursor: default;
}

.projectSkills ul {
    display: inline-block;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    font-family: 'Source Code Pro', courier new;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
}

.projectSkills ul:hover {
    background: #000;
    color: #fff;
}

/* project pages */

.projectPage {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 0%;
  width: 100%;
  z-index: 1;
  background: #fff;
  color: #333;
  overflow-y: auto;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* page content goes on top of display */
.projectPageContent {
  position: relative;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 10px;
  width: 80%;
  height: auto;
}

.stopScrolling {
    height: 100%;
    overflow: hidden;
}

/* 

SECTION: Contact 

*/

#contact {
    text-align: center;
    width: auto;
}

#contact a {
  font-family: 'Source Code Pro', courier new;
  font-size: 16px;
  text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #000;
    border-radius: 3px;
    background: #000;
  color: #fff;
    display: inline-block;
    padding: 15px 20px 15px 20px;
    margin: 5px;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#contact a:hover, #contact a:active {
  color: #000;
    background: #fff;
}